// Break Point
$sm: 800px;
$md: 840px;
$lg: 1040px;
$xl: 1240px;
$xxl: 1440px;


/* Font Family */
$sans-serif: 'Inter', sans-serif;
$serif: 'Merriweather', serif;
$monospace: 'Fira Code', monospace;


