.content {

    a {
        color: var(--primary);
        background-color: var(--stager-bg);
        transition: all 1s;
        &:hover {
            color: var(--secondary);
            background-color: var(--stager-bg);
        }
    }

    .content-header {
        text-align: center;
        border-bottom: 2px solid var(--primary-light);
        margin-bottom: 2rem;
        padding: 1rem;
        .title {
            color: var(--baseof-ft);
            font-size: 4rem;
            margin: 0.1rem 1rem 1rem;
        }
        .meta {
            margin: 0 1rem 2rem;
            color: var(--baseof-ft);
            font-size: .875rem;
            span {
                margin: 0 .5rem;
            }
        }
    }
    
    .content-tag {
        margin: 3rem 0;
        padding-top: 1rem;
        border-top: 2px solid var(--primary-light);

        span {
            margin-right: 1rem;
        }
    }

}

@media (min-width: $xl) {

    .content {
        padding: 0 1rem;
    }

}

