.item {
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--stager-bg); /* Modifié pour utiliser --stager-bg */
    background-color: var(--stager-bg); /* Modifié pour utiliser --stager-bg */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    border-radius: 7px;

    .item-thumbnail {
        display: none;
        padding: 0;
        width: 360px;
        height: 240px;
        margin-right: 1rem;
        background-color: var(--stager-bg); /* Assure que le fond des thumbnails est le même */
        img {
            width: 100%;
            max-width: auto;
            border-radius: .5rem;
            object-fit: cover; /* Assure que les images soient bien ajustées et homogènes */
        }
    }
    
    .item-text {
        flex: 1;

        .item-text-title {
            font-size: 1.8rem;
            line-height: 2rem;
        }

        .item-text-brief {
            font-size: 1rem;
            line-height: 1.375rem;
            margin: .5rem 0;
        }

        .item-text-meta {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: .875rem;
            span {
                margin-right: 1rem;
            }
        }

        a {

            display: block;
            color: var(--stager-ft);
            background-color: var(--stager-bg); /* Utilise --stager-bg pour l'arrière-plan des liens */
            transition: all .5s;
            &:hover {
                color: var(--secondary); /* Correction typo: de --gray-900 à --grey-900 */
                /*background-color: var(--primary-light);*/
                
            }
        }

    }
}

/*@media (min-width: $sm) {
    .item {
        .item-thumbnail {
            display: block;
        }
    }
}
@media (min-width: $lg) {
    .item {
        .item-thumbnail {
            display: block;
        }
    }
}

*/

@media (min-width: $md) {
    .item {
        .item-thumbnail {
            display: block;
        }
    }
}

