.item {
    margin-bottom: 1rem;
    padding: 0rem;
    border-bottom: 1px solid var(--stager-bg);
    background-color: var(--stager-bg);
    display: flex;
    flex-direction: column; /* Changé à column pour mobile par défaut */
    //border-radius: 7px;

}
.item-thumbnail {
    display: block; /* Affiche toujours la miniature, mais ajuste son placement via flex-order ci-dessous */
    padding: 0;
    max-height: 300px;
    max-width: 500px;

    width: auto; /* Ajustement pour la cohérence */
    margin-bottom: 1rem; /* Ajouté pour l'espace entre la miniature et le texte sur mobile */
    background-color: var(--stager-bg);
    img {
        width: 100%;
        border-radius: .5rem;
        object-fit: cover;
    }
}

.item-text {
    flex: 1;
}

.item-text-title {
    font-size: 1.8rem;
    line-height: 2rem;
}

.item-text-brief {
    font-size: 1rem;
    line-height: 1.375rem;
    margin: .5rem 0;
}

.item-text-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: .875rem;
    span {
        margin-right: 1rem;
    }
}

a {
    display: block;
    color: var(--stager-ft);
    background-color: var(--stager-bg);
    transition: all .5s;
    &:hover {
        color: var(--secondary);
    }
}

/* Ajustements pour les écrans plus larges */
@media (min-width: 768px) { /* Utilisez 768px comme point de rupture pour les tablettes et au-delà */
    .item {
        flex-direction: row; /* Retour à la disposition en ligne pour les écrans plus larges */
    }
    
    .item-thumbnail {
        margin-right: 1rem; /* Restaure la marge droite pour les écrans plus larges */
        margin-bottom: 0; /* Supprime la marge du bas ajoutée pour les mobiles */
    }
}

@media (max-width: 767px) { /* Utilisez 767px comme point de rupture pour les mobiles */
    .item {
        margin-bottom: 0rem;
        padding: 0rem;
        border-bottom: 1px solid var(--primary-light); /* Utilisez var(--primary-light) pour la couleur de la bordure */
        &:last-child {
            border-bottom: none; /* Supprime la bordure pour le dernier élément */
        }
    }
}	
