.markdown {
    // Titres
    h2, h3, h4, h5, h6 { 
        color: var(--primary); // Utilise le rose pastel pour les titres
    }

    h1 {
        margin-top: 2rem; 
        font-size: 2rem;
        font-weight: 500;
    }

    h2 { 
        margin-top: 3.5rem; 
        font-size: 1.5rem;
        font-weight: 500;
    }

    h3 { 
        margin-top: 1.5rem; 
        font-size: 1.25rem;
        font-weight: 500;
    }
    h4 { 
        margin-top: 1.5rem; 
        font-size: 1rem;
        font-weight: 500;
    }

    h5, h6 { 
        margin-top: 1.5rem;
        font-size: .875rem;
        font-weight: 500;
    }

    color: var(--baseof-ft);
    // Paragraphes
    p {
        margin-top: 1rem;
        line-height: 1.75rem;
        color: var(--baseof-ft); // Gris foncé pour le texte, améliore la lisibilité
        text-align: justify;
    }

    // Citations
    blockquote {
        border-left: .375rem solid var(--primary-light); // Bordure en rose clair
        background-color: var(--stager-bg); // Fond en vert très clair
        font-size: 1.25rem;
        font-family: $serif;
        margin: 1rem auto 0;
        padding: 1rem 1.5rem;
        p {
            margin: 0;
            color: var(--stager-ft); // Texte en gris foncé pour les citations
        }
    }

    // Sub & Sup
    sub, sup {
        font-size: .625rem;
        color: var(--grey-600);
    }

    // Touches de clavier
    kbd {
        background-color: var(--grey-800);
        color: var(--white);
        font-size: .75rem;
        padding: .25rem .375rem;
        margin: 0 .375rem;
        border-radius: .25rem;
    }

    // Marquage
    mark {
        background-color: var(--secondary); // Utilise le vert pour le marquage
        color: var(--white);
        padding: 0 .25rem;
    }

    // Code inline
    code {
        font-family: $monospace;
        font-size: 1.125rem;
        background-color: var(--grey-200); // Fond gris clair pour distinguer le code
        padding: .125rem .375rem;
    }

    // Blocs de code
    pre {
        background-color: var(--grey-300); // Plus foncé que le code inline pour la distinction
        border: 1px solid var(--stager-bd); // Utilise une bordure légèrement plus foncée
        padding: .25rem;
        margin-top: 1rem;
        overflow-y: hidden;
        overflow-x: auto;
        code {
            color: var(--grey-900); // Texte de code en gris très foncé pour la lisibilité
        }
    }

    // Listes
    ol, ul {
        margin-top: 1rem;
        padding-left: 1.25rem;
        color: var(--baseof-ft); // Assure que le texte des listes est lisible
        li {
            margin-top: .5rem;
            line-height: 1.5rem; // Augmente l'interligne. Ajustez cette valeur selon vos besoins.
        }
    }
    ul li {
        list-style: disc inside var(--baseof-ft); // Points de liste en gris pour la discrétion
    }

    a {
        color: #D17A8D; // Rose plus foncé pour un meilleur contraste
        text-decoration: underline; // Souligne les liens pour une meilleure visibilité
        &:hover, &:focus {
            color: #C05667; // Un rose encore plus foncé au survol pour une meilleure interaction
            text-decoration: none; // Optionnel: retire le soulignement au survol pour changer l'aspect
        }
    }
    strong, b {
        color: var(--baseof-ft); // Assure que le texte en gras est de la même couleur
    }
    // Tableaux
    .table-container {
        table {
            color: var(--stager-ft); // Texte en gris pour la lisibilité
            th {
                background-color: var(--primary-light); // En-têtes en rose clair pour la distinction
            }
            td {
                background-color: var(--stager-bg); // Cellules en vert très clair pour l'uniformité
            }
        }
    }
}

@media (min-width: $lg) {
    .markdown {
        ol, ul {
            padding-left: 2.5rem; // Augmente l'espace pour les listes sur grands écrans
        }
    }
}
