.menu {
    padding: 1rem;
    border-top: 1px solid var(--baseof-bd);
    text-align: center;
    margin-left: 1rem;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    .menu-item {
        margin: .5rem 0;
        padding: .5rem .7rem;
        color: var(--stager-bg);
    }


    .active {
        color: var(--secondary);
        font-weight: bold;
    }
}

@media (max-width: $md) {
    .menu {
        border-top: none;
        padding: 0 1rem;
        .menu-item {
            margin-left: 1rem;
            
        }
    }
}