<div class="about">
    <div class="avatar">
        <img src="{{"./images/avatar.jpg" | relURL }}" alt="avatar">
    </div>
    <p class="name">{{.Site.Params.author.name}}</p>
    <p class="description">{{.Site.Params.author.description}}</p>
    <p class="email">
        <span><i class="bi bi-envelope"></i></span> 
        <span>{{.Site.Params.author.email}}</span>
    </p>
    <p class="rss">
        <span><i class="bi bi-rss"></i></span> 
        <span><a href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/index.xml" title="{{ i18n "subscribeToRSS" }}">{{ "RSS" }}</a></span>
    </p>
    
</div>