{{ range .Paginator.Pages }}

<section class="item">

    <div class="item-thumbnail">
    {{ with .Resources.GetMatch "thumbnail.*" }}
        <img src="{{ .RelPermalink }}" alt="Thumbnail" style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
    {{ else }}
        {{ with .Params.thumbnail }}
            <img src="{{ . | relURL}}" alt="Thumbnail" style=" object-fit: cover; object-position: center;">
        {{ else }}
            <img src="{{"images/default/thumbnail.jpg" | relURL}}" alt="Thumbnail" style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
        {{ end }}
    {{ end }}
    </div>

    <div class="item-text">
        <a href="{{.Permalink}}">
            <div class="item-text-title"><b>{{ .Title }}</b></div>
            <div class="item-text-brief">{{ .Summary }}</div>
            <div class="item-text-meta">
                <p>
                    <span>{{.Date | time.Format ":date_full"}}</span>
                    <span>
                    By {{ if ne .Params.author "" }}
                    {{ .Params.author }}
                    {{ else }}
                    {{ .Site.Author.name }}
                    {{ end }}
                    </span>
                </p>
            </div>
        </a>
    </div>

</section>
    

{{ end }}
