.container-fluid {
    width: 100%;
}

.container {
    width: 100%;
    max-width: auto;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
}

.list-container {
    background-color: var(--stager-bg);
    margin-bottom: 2rem;
    padding: 1rem;
}

.single-container {
    background-color: var(--stager-bg);
    margin-bottom: 2rem;
    padding: 0.25rem;
    margin-right:2rem;
}

.nav-container {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.cards-container {
    position: sticky;
    top: 3rem;
}

.card-container {
    margin-bottom: 2rem;
    padding: 0 1rem;
}