:root[data-theme="light"] {
    --primary: #435D53; /* Vert pastel un peu plus foncé pour améliorer la lisibilité, conservé de la dernière modification */
    --primary-light: #688B8A; /* Ajustement pour une variation plus claire du vert assombri */
    --secondary: #C7959E; /* Rose pastel légèrement néon, conservé pour l'harmonie */
    
    /* Mise à jour du fond pour un vert très clair pastel */
    --baseof-bg: #f7fcf1; /* #EFFAE5 Fond d'un très léger vert clair pastel pour une ambiance douce et accueillante */
    --baseof-ft: #435D53;/*var(--grey-700); Couleur du texte conservée pour assurer la lisibilité */
    --baseof-bd: var(--grey-200); /* Bordures légères pour ne pas surcharger visuellement */
    
    /* Légères variations de gris pour les composants d'interface, conservées pour la cohérence */
    --stager-bg: #f7fcf1;
    --stager-ft: #435D53;
    --stager-bd: var(--grey-400);
} 

